@tailwind base;
@tailwind components;
@tailwind utilities;

.rotation {
  animation: rotation 1s ease-in infinite;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
